/*A stylesheet that contains the style rules for the index.html and bio.html pages. The resume.html doc has its own stylesheet */
body {
	background: linear-gradient( rgba(100, 175, 225, .5), rgba(100, 175, 225, .5)),
		 		url('honeycomb.jpg');
	margin: 2%;
	padding: 0.5%;
	overflow: scroll;
}
div.navbar {
	background: rgba(255, 255, 255, 0.95);
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	padding: 2% 0%;
	z-index: 1;
}
div.divider {
	margin: auto;
	height: 1px;
	width: 70%;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0), #333, rgba(0, 0, 0, 0) );
	padding: 0;


}

h1 {
	color: #333;
	font: normal normal normal 5em Helvetica, sans-serif;
	text-align: left;
	margin-top: 0;
	margin-bottom: 2.5%;
}
ul {
	list-style: none inside;
	padding-left: 0%;
	text-align:center;
	margin: 0.5%;
	
}
li{
	/*padding-bottom: 0.5%;*/

	display: inline;
	padding: 0 1%;
}
a {
	color: #00B4FF;
	font: 1.5em Helvetica,Arial,sans-serif;
	text-decoration: none;
	text-align: left;
	padding-bottom: 0%;
	transition: padding-left 0.25s, padding-right 0.25s;
}
a:hover {
	padding-left: 2%;
	padding-right: 2%;
}
/*#bio {
	text-align:center;
}*/
p{
	
	font: normal normal normal 1.5em Helvetica, Arial, sans-serif;
	color: #616161;
	/*
	background: rgba(255, 255, 255, 0.8);
	padding: 2% 2%;
	width: 70%;
	margin: auto;
	*/
}
p span.important{
	font: normal normal bold 1.25em Helvetica, Arial, sans-serif;
	color: #375b77;

}
div.textbox {
	display:block;
	width:100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	left:0%;

}
div.textbox div.content {
	background: rgba(255, 255, 255, 0.8);
	padding: 2%;
	width: 70%;
	margin:auto;
}
.content h1 {
	font: normal normal bold 4em Helvetica, Arial, sans-serif;
	text-align: center;
	color: #375b77;
	margin: 0;
}
.content h2 {
	padding-left: 5%;
	font: normal normal normal 1.5em Helvetica, Arial, sans-serif;
}

img.img_preview {
	display: block;
	height: 300px;
	width: 100%;
	object-fit: contain;	
	-moz-object-fit: contain;	
	-webkit-object-fit: contain;	
	margin: auto;
}
ul#grid {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-25%);
	-webkit-transform: translateX(-50%) translateY(-25%);
	padding: 2.5%;
	width: 70%;
	margin:auto;
	display: block;
}
ul#grid li {
	padding: 1.5%;
	width: 47%;
	overflow:hidden;
	background: rgba(255, 255, 255, 0.8);
	float: left;
}
ul#grid li:nth-child(odd) {
	clear: left;
}

ul#grid a:hover{
	padding: 0px; 
}

ul#grid li:hover{
	background: rgba(50, 50, 50, 0.8);
}

h1.page_title {
	text-align: center;
	margin-bottom: 0;

}

a#back {
	font-size: 3.5em;
	position: absolute;
	top: 25%;
	left: 0%;
	margin-left: 5%;

}
div#image_gall{
	display: flex;
	display: -moz-flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	width: 80%;
	padding: 10%;
	margin: auto;
	justify-content:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
}
div#image_gall img {
	background: rgba(255, 255, 255, 0.8);
	width: 30.0%;
	height: 100%;
	padding: 5px;
	margin: 5px 5px;
}



@media (max-width: 975px) {
	a#back {
		font-size: 2.5em;
	}
	h1.page_title {
		font-size: 4em;
		text-align: center;
		margin-bottom: 0;
	}
	div#image_gall img {
		background: rgba(255, 255, 255, 0.8);
		width: 47.0%;
		height: auto;
		padding: 5px;
		margin: 5px 5px;
	}
}
@media (max-width: 775px) {
	a#back {
		font-size: 2em;
	}
	h1.page_title {
		font-size: 3.5em;
		text-align: center;
		margin-bottom: 0;
	}
	div#image_gall img {
		background: rgba(255, 255, 255, 0.8);
		width: 97.0%;
		height: auto;
		padding: 5px;
		margin: 5px 5px;
	}
}
@media (max-width: 675px) {
	a#back {
		font-size: 1em;
	}
	h1.page_title {
		font-size: 2.5em;
		text-align: center;
		margin-bottom: 0;
	}
	div#image_gall img {
		background: rgba(255, 255, 255, 0.8);
		width: 97.0%;
		height: auto;
		padding: 5px;
		margin: 5px 5px;
	}
	ul#grid {
		padding-top: 10em;
		transform: translateY(0%), translateX(0%);

	}
	ul#grid li:nth-child(odd) {
		clear: none;
	}
	ul#grid li:nth-child(n) {
		width: 100%;
		clear: left;
	}
}
@media (max-width: 475px) {
	a#back {
		display: none;
	}
	h1.page_title {
		display: block;
		font-size: 3em;
		text-align: center;
		margin-bottom: 0;
	}
}